body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('background.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative; 
}

.logo {
    position: absolute;
    top: 0px;
    left: 20px;
    width: 150px; 
    height: auto; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #633333;
    color: #d3d0d0;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
}

